* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
 display:flex; 
 background-color: aqua;  
}

header {
    width:100%;
    background-color: lightblue;
}
#topCard {
    display:flex;
    background-color: rgb(156, 245, 246);
    flex-direction: column;
    
    padding:6px;
}

#listFive {
    background-color:rgb(156, 245, 246);
/* display:flex;
flex-direction: column; */
}
li {
   margin:10px;
    display:inline;
    list-style-type: none;
    background-color: pink;

}

aside {
    display:flex;
    background-color: pink;
    flex-direction: column;
    max-width:250px;
    margin:4px;
    padding:6px;
}
.forecast {
display:block;
}
main {
    display:flex;
    flex-direction: column;
}
button {
max-height:40px;
}
.hide {
    display:none;
}